
.btn {
    color: white;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    cursor: pointer;
}

.btn-buy {
    background-color: #ff6d00;
}

.btn-buy:hover {
    background-color: #ff8124;

}